/* ELEMENT STYLES */
html, body {
    height: 100%;
}

html {
	font-size: 12px;
	/* background: url(background.jpg) no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	font-family: "Helvetica Neue", monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	/* Jen's:  */background-color: /* #13b6a9; */ #ddd;
	/* Justin's: background-color: #9DBDC6; */
	/* background: none; */
}
textarea {
	height: 100%;	
	float: left;
	width: 100%;
	font-size: 12px;
}
h4{
	font-weight: 800;
}

h1{
	font-family: "Helvetica Neue", monospace;;
}
span{
text-align: left;
}

.nopadding {
   /*padding: 0 !important;*/
   /*margin: 0 !important;*/
   padding-right: 0 !important;
   /*padding-left: 0 !important;*/
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}


.header {
	font-family: "Courier", monospace;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	height: 60px;
}

/* MIPS RELATED CLASSES */
.segment {
	height: 250px;
	overflow-y: scroll;
	border: 1px solid #333;
	border-radius: 5px;
	padding-right: none !important;
	/*background-color: #ebebeb;*/
}

#codearea{
	min-height: 250px;
	resize: none;
}
#logarea{
	min-height:80px;
}
.controls{
	text-align: center;
	padding-bottom: 10px;
}

/*.address {
	font-family: "Courier", monospace;
	font-weight: bold;
	text-align: left;
	padding: 2px !important;
}*/
.binary {
	text-align: right;
	padding: 2px !important;
}
.bottom-buffer {
	margin-bottom: 10px;
}


#mips-log-area{
	background-color: #333;
	color: #dff0d8;
	height: 100px;
}
#mips-opcodes-area{
	background-color: #ddd;
}
