/* ELEMENT STYLES */
html {
	font-size: 12px;
	/* background: url(background.jpg) no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	font-family: "Helvetica Neue", monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	/* Jen's:  */background-color: /* #13b6a9; */ #229E8D;
	/* Justin's: background-color: #9DBDC6; */
	/* background: none; */
}
textarea {
	float: left;
	width: 95%;
	height: 200px;
	resize: none;
	font-size: 12px;
}
h4{
	font-weight: 800;
}

h1{
	font-family: "Helvetica Neue", monospace;;
}

/* CLASSES */

.registers {
/* 	height: 320px;
overflow-y: scroll; */
}
.code_segment {
/* 	height: 320px;
overflow-y: scroll; */
}
.data_segment {
/* 	height: 320px;
overflow-y: scroll; */
}

.button_group{}

.save_button {
	width: 50%;
	box-shadow: none;
}
.header {
	font-family: "Courier", monospace;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	height: 60px;
}
.table {
	float: left;
	border-collapse: collapse;
	border-spacing: 5px;
}
.address {
	font-family: "Courier", monospace;
	font-weight: bold;
	text-align: left;
	padding: 2px !important;
}
.binary {
	text-align: center;
	padding: 2px !important;
}
.bottom-buffer {
	margin-bottom: 30px;
}
.col-md-3, .col-md-6 {
	border: 1px solid #333;
}
.standard_panel {
	height: 320px;
	overflow-y: scroll;
}

/* ID */
#mips-log-area{
	background-color: #333;
	/*color: #FFCCCC;*/
	color: #dff0d8;
	height: 300px;
}
#mips-opcodes-area{
	background-color: #ddd;
}